.container-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 48vw;
    height: 82vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.price{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;

}

.stock{
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.detail-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    margin: 0px;
}

.detail-image{
    width: 600px;
    height: 500px;
    border-radius: 15px;
}


.detail-description{
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 

.buttons button {
    gap: 5px;
}

.card-button{
    border: solid black;
    background-color: aqua;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card-button:hover{
    background-color: cadetblue;
    gap: 5px;
} 

.container-btn{
    display: flex;
    gap: 10px;
}

.card-count{
    margin-left: 17px;
}