.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    gap:20px
}

.stylesLink{
    text-decoration: none;
    color: black;
}