
.navbar-container{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: black;
    padding: 10px ;
    margin-bottom: 10px;
}

.list-container{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    list-style-type: none;    
}

.nav-btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.nav-btn:hover {
    color:crimson;
} 

.linkbtn{
    text-decoration: none;
    color: aliceblue;
}
.linkbtn:hover{
    color: aqua;
}

.imglogo{
    width: 150px;
}

.cart{
    margin-right: 20px;
}